div {
	float: left;
	/*padding:0.2em 0.2em;*/
}

.ProgramAnn { /*border:2px solid #a1a1a1;*/
	background: #E9967A;
	border: 0.15em solid #E9AA7A;
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 1em;
	-moz-border-radius: 1em; /* Firefox 3.6 and earlier */
	clear: both;
	box-shadow: -6px -6px 3px #888888;
}

.pre,.post { /*border:	0.1em solid #a1a1a1;*/
	/*background: rgb(255, 200, 255);*/
	background: #F1BAA7;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em; /* Firefox 3.6 and earlier */
	margin: 0.2em;
	padding: 0.2em;
	clear: both;
}

.program {
	/*border: 0.1em solid #a1a1a1;*/
	padding: 0.2em;
	margin: 0.2em;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em; /* Firefox 3.6 and earlier */
	clear: both;
	/*background: #DDD;*/
	background: #E9967A;
}

.grdcmds {
	clear: left;
}
/*
.WhileProg .deco {
	clear: left;
}*/
.loopInv {
	background: #4E8975;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em; /* Firefox 3.6 and earlier */
	margin: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.GuardedCmd {
	clear: left;
	margin-left: 1em;
}

collapse {
	cursor: pointer;
	float: left;
	margin: 0.5em;
	clear: left;
}

.seperator {
	margin-right: 0.25em;
}

.Pred .Var .t,.Pred .Var .deco {
	display: none;
}

.pa_proofobligs {
	background: #659EC7;
	border: 0.15em solid #999EC7;
	border-radius: 1em;
	-moz-border-radius: 1em; /* Firefox 3.6 and earlier */
	clear: left;
	margin: 0.5em;
	box-shadow: -6px -6px 3px #888888;
}

.pa_proofobligs  .status {
	background: #7FFFD4;
	margin-left: 0.25em;
	margin-right: 0.25em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.pa_proofobligs .status .valid {
	color: green;
}

.pa_proofobligs .status .notvalid {
	color: red;
}

.pa_proofobligs .status .model {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.pa_proofobligs .status .fullmodel {
	padding-left: 0.25em;
	padding-right: 0.25em;
	white-space: pre;
}

.pa_proofobligs .failed {
	padding-left: 0.25em;
	padding-right: 0.25em;
	color: red;
}

.pa_proofobligs .status .model  .varitem {
	padding-left: 0.25em;
	padding-right: 0.25em;
	clear: left;
}

.prg_proofobligs {
	padding: 0.2em;
	margin: 0.2em;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em; /* Firefox 3.6 and earlier */
	background: #659EC7;
	clear: left;
}

.proofobligs  .pa_id {
	background: red;
}

.proofoblig {
	border-radius: 0.25em;
	/*background: #659EC7;*/
	/*color: #659EC7;*/
	clear: left;
	margin: 0.5em;
	padding: 0.2em;
}

.deco {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.r {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.ProgramAnn .rvVar {
	background: yellow;
	padding-left: 0.25em;
	padding-right: 0.25em;
	border-radius: 0.25em;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

.Assignment .rhs .ProgramAnn .pre,.Assignment .rhs .ProgramAnn .program,hi
.Assignment .rhs .ProgramAnn .post {
	clear: none;
}

.srcfile {
	clear: both;
}

.synth_info,.synth_item,.synth_pas {
	clear: both;
}

.synth_pas {
	margin-left: 3em;
}

/*
.Invariant{
	border:2px solid #a1a1a1;
	padding:0.2em 0.2em;
	background:#FFD;
	border-radius:0.25em;
	-moz-border-radius:0.25em;
	float: left;
	clear: both;
}

.Invariant .formula {
	border:2px solid #a1a1a1;
	padding:0.2em 0.2em;
	background:#FEE;
	border-radius:0.25em;
	-moz-border-radius:0.25em;
	float: left;
}

.Invariant .And , .Invariant .Impl{
	border:none;
	background: gray;
	padding:0.2em 0.2em;
	border-radius:0.2em;
	-moz-border-radius:0.2em;
	float: left;
}

.Invariant .And  .f1{
	border:none;
	background: pink;
	padding:0.2em 0.2em;
	border-radius:0.2em;
	-moz-border-radius:0.2em;
	float: left;
}

.Invariant .And  .f2{
	border:none;
	background: pink;
	padding:0.2em 0.2em;
	border-radius:0.2em;
	-moz-border-radius:0.2em;
	float: left;
}

.Invariant .Impl  .f1{
	border:none;
	background: pink;
	padding:0.2em 0.2em;
	border-radius:0.2em;
	-moz-border-radius:0.2em;
	float: left;
}

.Invariant .Impl  .f2{
	border:none;
	background: pink;
	padding:0.2em 0.2em;
	border-radius:0.2em;
	-moz-border-radius:0.2em;
	float: left;
}
*/

/*Hidden Elements*/
/*.Invariant , */
.ProgramAnn .loc, /*.Composition,*/ dummy,.Identifier .itype,.Var .t,.Var .deco,.Const .tpe,.Const .deco
	{
	display: none;
}

.FunctionProg {
	clear: both;
}

.FunctionProg .annProg {
	clear: both;
}

/* Derivation Interface */
.left {
	float: left;
	width: 20%;
}

.right {
	float: right;
	width: 80%;
}

.top {
	clear: both;
}

.content {
	clear: both;
}

.node {
	clear: both;
}

.nodeid {
	float: left;
	clear: left;
}

.tactic {
	float: left;
	margin-left: 1em;
	color: rgb(100, 100, 255);
}

.nodeObj {
	color: rgb(100, 100, 100);
	display: none;
}

.curNodeId {
	display: none;
}

.folformula {
	background: rgb(255, 180, 255);
	border-radius: 0.25em;
	-moz-border-radius: 0.25em; /* Firefox 3.6 and earlier */
	margin: 0.2em;
	padding: 0.2em;
	clear: both;
}
.top {
	background: rgb(156, 175, 222);
	color: rgb(230, 240, 240);
	width: 100%;
	padding: 0.4em;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em; /* Firefox 3.6 and earlier */
}

.top .topButton {
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align:center;
	margin-left: 5px;
	width: 5em;
	background: rgb(50, 80, 150);
	border-radius: 0.25em;
	-moz-border-radius: 0.25em; /* Firefox 3.6 and earlier */
}


.content .ProgramAnnDisplayIdClass
{
}

.content .InvariantDisplayIdClass
{
}


.content .PredDisplayIdClass
{
	background: rgb(102, 200, 0);
	padding: 0.2em;
	border-width:1px;
	border-style:solid;
	border-color:#ff9900;
}
/*
.content .VarDisplayIdClass,
.content .ConstDisplayIdClass,
.content .ArrSelectDisplayIdClass,
.content .ArrStoreDisplayIdClass,
.content .FnAppDisplayIdClass*/
.content .TermDisplayIdClass
 {
	background: rgb(102, 153, 0);
	padding: 0.2em;
	border-width:1px;
	border-style:solid;
	border-color:#ff9900;
}
/*
.content .True1DisplayIdClass,
.content .False1DisplayIdClass,
.content .NotDisplayIdClass,
.content .AndDisplayIdClass,
.content .OrDisplayIdClass,
.content .ImplDisplayIdClass,
.content .IffDisplayIdClass,
.content .ForallDisplayIdClass,
.content .ExistsDisplayIdClass,
.content .UnknownDisplayIdClass */
.content .FormulaDisplayIdClass
 {
	background: rgb(255, 207, 184);
	padding: 0.2em;
	border-width:2px;
	border-style:solid;
	border-color:#ff9900;
}

.right .statusbar {
	background: rgb(156, 175, 222);
	color: rgb(230, 240, 240);
	width: 100%;
	padding: 0.4em;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em; /* Firefox 3.6 and earlier */
	clear: both;
	min-height: 2em;
	margin-top: 2em;
}


.content .DisplayIdClass .outline-element
 {
	border-width:2px;
 	border-style:solid;
	border-color:red;
}

.FnApp .opr {
	padding: 0.2em;
}

/*.id, */
.displayId,
collapse
{
	display: none;
}

/*Thin Table border*/
table.tablestyle
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
}

.tablestyle td, .tablestyle th
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    border-style: solid;
}


/*Assignment Derivation*/
.asgnDerivation .heading {
	clear: both;
	font-weight: bold;
}

.toProve .antecedent,
.toProve .consequent,
.toProve .toProveDeco
 {
	clear: both;
}

.asgnDerivation .step {
	clear: both;
}

.asgnDerivation .toProve {
	clear: both;
}

.asgnDerivation .proofTable{
	clear: both;
}
